body{
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    position: relative;
}



header{
    /*position: -webkit-sticky; 
    position: sticky;*/
    display: flex;
    
    background-color: white;
    width: 1000px;
    align-self: center;
    justify-content: space-between;
    justify-self: center ;
}
.logo {
    flex: 1;
    width: 300px;
    height: 50px;
    border: solid 1px black;
    overflow: hidden;
    text-align: start ;
    
}
.logo img{
    width: 300px;
    height: 50px;
    margin: auto;
}
/*.space-between{
    border: solid 7px black;
    width: 10%; 
    height: 50px;
}*/
nav{
    max-width: 350px;
    padding-left: 10px;
    flex: 1;
    border: solid 7px black;
    height: 50px;
    text-align: center;
    
}
ul{
    display: flex;
    list-style: none;
    text-align: center;

}
li{
    height: 60px;
    flex: 1;
    display: inline;
    color: rgb(164,164,164) ;
    margin-right: 10px;
}
#about-us{
    color: rgb(19, 182, 159);
}

.highlight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin-top: 70x;
    margin-bottom: 70px;*/
    margin: 45px 30px;
    width: 1000px;
    align-self: center;
    justify-self: center;
}
.minilogo img{
    width:62px;
}
@font-face {
    font-family: fontitle;
    src: url(Montserrat-ExtraLight.ttf);
}

.highlight .title{
    flex: 1;
    color: #00B39B;
    font-size: 26px;
    font-family:   Arial, sans-serif;
    font-weight: light ;
    /*margin: 34px 0px;*/
    margin-bottom: 15px;
}
.texthigh{
    color: rgb(100, 100, 100);
    font-size: 16px;
    font-family:  Arial, sans-serif;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 15px;

}
.paraleft, .pararight{
    flex: 1; 
    line-height: 2;
    font-weight: lighter;

}







.country{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px 227.5px 40px;
    /*padding: 0px 20px;*/
    height: 365px;
    width: 1000px;
    gap: 15px;
    justify-self: center;

}
.coun{
    flex: 1;
    border-radius: 5%;
    padding: 32px 32px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}
.doc{
    background-color:#3D83DF;
}
.pat{
    background-color: #00CCB1;
}
.cli{
    background-color: #1B2734;
}
.title3{
    font-size: 26px;
   
}
.textcoun{
    font-size: 24px;
    margin-bottom: 50px;
}
select{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19.2px;
    color: #FFFFFF;
    text-decoration-line: underline ;
    border-style: none;
    
}
.pat select{
    background-color: #00CCB1;
}
.doc select{
    background-color: #3D83DF;
}
.cli select{
    background-color: #1B2734;
}





.partenaire{
    height: 250px;
    width: 1000px;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    margin: 45px 30px;
}
.partenaire .title{
    width: 320px;
    height: 100px;
    color: #00B39B;
    font-size: 26px;
    font-family:   Arial, sans-serif;
    padding-right: 50px;
    position: relative;
    top: 20px;
}
.logos {
    display: flex;
    width: 680px;
    flex-wrap: wrap;
    gap: 10px 26px;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 20px;

}
.logointer img{
    width: 120px;
    position: relative;
    top: 20px;

}
#gipo{
    height: 50px;
    width: 50px;
    position: static;
}
#clinicc{
    height: 60px;
    width: 60px;
    position: static;
}
#jameda{
    height: 60px;
    width: 120px;
    position: static;
}
.logointer{
    width: 120px;
    height: 70px;
    flex: 1;   
    /*background-color: #3D83DF;*/
    justify-items: center;
    align-items: center;
}




.world{
    margin: 50px 0px 88px;
    background-color:rgb(191,235,231) ;
    /*display: flex;*/
    padding: 30px 0px 10px;
    height: 700px;
}
.space{
    height: 350px;
    width: 500px;
    flex: 25%;
}
.worldo{
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    height: 700px;
    gap: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.tit-des .title{
    width: 477px;
    height: 88px;
    color: #00B39B;
    font-size: 30px;
    font-family:   Arial, sans-serif;
    flex: 1;
}
.tit-des .descrip{
    font-size: 14px;
    font-family:   Arial, sans-serif;
    color: #747474;
    flex: 1 ;
    line-height: 1.3;
    width: 450px;
}
.worldo .tit-des{
    height: 350px;
    display: flex;
    flex-direction: column;
    flex: 25%;
    width: 300px;
    padding: 10px;
    margin-right: 50px;
}
.stat .descrip{
    font-size: 14px;
    font-family:   Arial, sans-serif;
    color: #747474;
    line-height: 1.3;
    
}
.stat .title2{
    color: #00B39B;
    font-size: 16px;
    font-family:Arial, sans-serif;
}
.stats{
    width: 500px;
    height: 350px;
    flex: 25%;
    display: flex;
    flex-direction: row;
    gap: 15px; 
}
.stat{
    border-radius: 7px;
    background-color: azure;
    padding: 25px;
    flex: 50%;
    height: 230px;
    width: 190px;
    text-align: center;
}







.lives{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-bottom: 20px;
}
.lives .title{
    font-size: 25px;
}
.lives .tit-des{
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.openings{
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
    display: grid;
    flex-direction: row;
    margin-bottom: 50px;
}

.country{
    margin: 1.5em;
    border: 1.5em;
}


.join{
    align-self: center;
    text-align: center;
    align-items: center ;
    height: 200px;
    width: 1000px;
}
.ques{
    justify-content: center;
    text-align: center!important;
    height: 88px;
    color: #333333;
    font-size: 30px;
    font-family:   Arial, sans-serif;
}

footer{
    width: 1000px;
    text-align: center;
    font-family:   Arial, sans-serif;
    font-size: 10px;
    margin-bottom: 19px;
}
.info{
    line-height: 1.5;
    margin-bottom: 10px;
    color: rgb(164,164,164) ;
}